
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Amazon</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li><a href="#">Products</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/books">Books</a></li>  
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Handmade</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Toys</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <h6>Welcome User</h6>
    </div>
  </nav>
  